[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flake8 = "*"
bandit = "*"
black = "*"
pre-commit = "*"
mypy = "*"
numpy = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
